<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/home.css">
    <title>Document</title>
</head>

<body>
    <ul class="nav">
        <li><a href="/index">Home</a></li>
        <li><a href="/edit">New Vehicle</a></li>
        <li><a href="/existing">Edit Vehicle</a></li>
        <li style="float:right;"><a href="/index">B&B Motors</a></li>
    </ul>
    

    <div class="together">
    <div class="link1">
        <a href="/edit"style="color:white;">Make a New Vehicle</a>
    </div>

    <div class="link2">
        <a href="/existing"style="color:white;">Edit a New Vehicle</a>
    </div>
</div>
</body>

</html>